<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_RewardPoint
 * @author     Extension Team
 * @copyright  Copyright (c) 2019-2020 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Bss_RewardPoint::main" title="BSS Reward Point" module="Bss_RewardPoint" sortOrder="1000"  resource="Bss_RewardPoint::main" parent="Magento_Customer::customer"/>

        <add id="Bss_RewardPoint::rate_grid" title="Exchange Rates" module="Bss_RewardPoint" sortOrder="10" resource="Bss_RewardPoint::rate" parent="Bss_RewardPoint::main" action="bssreward/rate"/>

        <add id="Bss_RewardPoint::rule_grid" title="Earning Rules " module="Bss_RewardPoint" sortOrder="0" resource="Bss_RewardPoint::rule" parent="Bss_RewardPoint::main" action="bssreward/rule"/>

        <add id="Bss_RewardPoint::transaction_grid" title="Transactions" module="Bss_RewardPoint" sortOrder="20" resource="Bss_RewardPoint::transaction" parent="Bss_RewardPoint::main" action="bssreward/transaction"/>

        <add id="Bss_RewardPoint::import_export_transaction" title="Import/Export Transactions" module="Bss_RewardPoint" sortOrder="25" resource="Bss_RewardPoint::transaction" parent="Bss_RewardPoint::main" action="bssreward/transaction/importexport"/>
    </menu>
</config>